.App {

  .container {
    max-width: 720px;
  }

  &-Search {

    .form-group {
      position: relative;

      .spinner {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &-Detail {

    .col-sm-6 {

      &:first-child {

        .border-top {
          border-top: 0 !important;
          padding-top: 0 !important;
        }
      }

      &:last-child {
          margin-bottom: 0 !important;
      }

      @media screen and (min-width: 576px) {
        &:nth-child(2) {

          .border-top {
            border-top: 0 !important;
            padding-top: 0 !important;
          }
        }

        &:nth-last-child(2) {
          margin-bottom: 0 !important;
      }
      }
    }
  }
}